.mainTitle {
  text-align: center;
}

.toc ul {
  margin-top: 1em;
}

.toc li {
  text-transform: capitalize;
  margin-left: 1em;
  margin-bottom: 1em;

  /* avoid splitting a single item into cols */
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

/* nav */
.navigation {
  max-width: 500px;
  margin: 0.7em auto 2.6em auto;
  line-height: 1.7em;
  text-align: center;
}

.navigation a {
  margin-right: 0.1em;
  color: var(--color-index-pg-nav-letter);
  display: inline-block;
  width: 1.22em;
  height: 1.22em;
}

.navigation a:hover {
  color: inherit;
}

/* View radio buttons */
:root {
  --color-view-btn: gray;
  --color-view-svg-selected: white;
  --color-view-btn-selected: var(--color-primary);
}

.view--content {}
.view--compact-list {}
.view--grid {}

.nav-view {}

.nav-view__list {}

html body .nav-view__item {
  display: inline-block;
  margin: 0 6px 0 0;
}

.nav-view__btn {
  background-color: white;
  border: solid 1px var(--color-view-btn);
  border-radius: 4px;
  padding: 0;
  display: inline-block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: background-color 350ms ease;
}

.nav-view__img {
  height: 24px;
  width: 24px;
}

.nav-view__btn svg {
  fill: var(--color-view-btn);
}

.view--content .nav-view__btn[data-view="content"],
.view--compact-list .nav-view__btn[data-view="compact-list"],
.view--grid .nav-view__btn[data-view="grid"] {
  background-color: var(--color-view-btn-selected);
  border-color: var(--color-view-btn-selected);
}

.view--content .nav-view__btn[data-view="content"] svg,
.view--compact-list .nav-view__btn[data-view="compact-list"] svg,
.view--grid .nav-view__btn[data-view="grid"] svg {
  fill: var(--color-view-svg-selected);
}


/* various display options */
.recipe-list__item {}

.recipe-list__item a {
  display: inline-block;
  width: 100%;
}

.recipe-list__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-list__name {
  display: inline-block;
}

/* view: Compact List */
.view--compact-list .recipe-list__photo {
  display: none;
}

/* view: Content */
.view--content .recipe-list__photo {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: middle;
}

.view--content .recipe-list__name {
  width: calc(100% - 80px);
  vertical-align: middle;
}

/* view: Grid */
.view--grid .recipe-list__item {
  width: 260px;
  display: inline-block;
  height: 260px;
  border: solid 1px pink;
  border-radius: 6px;
  overflow: hidden;
  margin: 0;
}

.view--grid .recipe-list__photo {
  height: 180px;
  display: block;
  margin-bottom: 10px;
}

.view--grid .recipe-list__name {
  padding: 0 1em;
  font-size: 110%;
  font-weight: 700;
  line-height: 1.4;
  text-overflow: ellipsis;
}

/* Footer bits */
.footer {
  color: var(--color-index-pg-footer);
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.footer li {
  margin-bottom: 0.6em;
}

.footer a {
  color: var(--color-index-pg-footer-link);
}

.footer a:visited,
.footer a:hover {
  color: inherit;
}

.footer svg {
  width: 14px;
  margin-left: 0.3em;
}

/* larger screen: ingredients and steps as two columns */
@media screen and (min-width: 820px) {
  .toc ul {
    column-count: 2;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  }
}
