:root {
  --color-view-btn:          var(--color-neutral-45);
  --color-view-svg-selected: var(--color-neutral-00);
  --color-view-btn-selected: var(--color-primary);

  --color-filter-inactive: var(--color-neutral-25);
  --color-filter-hover:    var(--color-neutral-80);
  --color-filter-focus:    var(--color-neutral-50);

  --search-input-height:      40px;
  --search-icon-length:       18px;
  --search-cancel-btn-length: 24px;
}

.mainTitle {
  text-align: center;
}

/* nav */
.navigation {
  max-width: 500px;
  margin: 0.7em auto 2.6em auto;
  line-height: 1.7em;
  text-align: center;
}

.navigation a {
  margin-right: 0.1em;
  color: var(--color-index-pg-nav-letter);
  display: inline-block;
  width: 1.22em;
  height: 1.22em;
}

.navigation a:hover {
  color: inherit;
}

/* View radio buttons */
html body .nav-view__item {
  display: inline-block;
  margin: 0 6px 0 0;
}

.nav-view__btn {
  background-color: var(--color-neutral-00);
  border: solid 1px var(--color-view-btn);
  border-radius: 4px;
  padding: 0;
  display: inline-block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: background-color var(--transition-color-duration) ease;
}

.nav-view__img {
  height: 24px;
  width: 24px;
}

.nav-view__btn svg {
  fill: var(--color-view-btn);
}

.view--content .nav-view__btn[data-view="content"],
.view--compact-list .nav-view__btn[data-view="compact-list"],
.view--grid .nav-view__btn[data-view="grid"] {
  background-color: var(--color-view-btn-selected);
  border-color: var(--color-view-btn-selected);
}

.view--content .nav-view__btn[data-view="content"] svg,
.view--compact-list .nav-view__btn[data-view="compact-list"] svg,
.view--grid .nav-view__btn[data-view="grid"] svg {
  fill: var(--color-view-svg-selected);
}

/* Filter/Search */
.filter__wrap {
  float: right;
  position: relative;
}

.filter__text-field {
  border-radius: calc(var(--search-input-height) / 2);
  padding: .4em calc(var(--search-input-height) + 2px) .4em calc(var(--search-input-height) / 2);
  border: solid var(--color-filter-inactive) 1px;
  font-size: inherit;
  width: 80px;
  transition: width 225ms ease-in, border-color var(--transition-color-duration) ease-in;
  height: var(--search-input-height);
}

.filter__text-field:hover {
  border-color: var(--color-filter-hover);
}

.filter__text-field:not(:placeholder-shown),
.filter__text-field:focus {
  border-color: var(--color-filter-focus);
  width: calc(14em + var(--search-cancel-btn-length) + var(--search-icon-length));
}

.filter__mask-icon {
  background-color: var(--color-filter-inactive);
  display: inline-block;
  height: var(--search-icon-length);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  transition: background-color var(--transition-color-duration) ease-in;
  vertical-align: middle;
  width: var(--search-icon-length);
}

.filter__cancel-icon {
  -webkit-mask-image: url(../images/icons/cancel.svg);
  mask-image: url(../images/icons/cancel.svg);
  left: calc(50% - var(--search-icon-length) / 2);
  top: calc(50% - var(--search-icon-length) / 2);
}

.filter__search-icon {
  -webkit-mask-image: url(../images/icons/search.svg);
  mask-image: url(../images/icons/search.svg);
  right: var(--search-icon-length);
  top: calc((var(--search-input-height) - var(--search-icon-length)) / 2);
}

.filter__cancel-btn {
  border: solid 1px var(--color-filter-focus);
  border-radius: 4px;
  cursor: pointer;
  display: none;
  height: var(--search-cancel-btn-length);
  width: var(--search-cancel-btn-length);
  position: absolute;
  right: calc(5px + var(--search-cancel-btn-length) + var(--search-icon-length));;
  top: calc((var(--search-input-height) - var(--search-cancel-btn-length)) / 2);
}

.filter__text-field:hover + .filter__icons .filter__search-icon {
  background-color: var(--color-filter-hover);
}

.filter__text-field:focus + .filter__icons .filter__search-icon {
  background-color: var(--color-filter-focus);
}

.filter__text-field:not(:placeholder-shown) + .filter__icons .filter__cancel-btn,
.filter__text-field:focus + .filter__icons .filter__cancel-btn {
  display: inline-block;
}

.filter__text-field:not(:placeholder-shown) + .filter__icons .filter__cancel-icon,
.filter__text-field:focus + .filter__icons .filter__cancel-icon {
  background-color: var(--color-filter-focus);
}

/* oops */
.recipe-list__photo {
  display: none;
}

body .recipe-list .recipe-list__item--hidden {
  display: none;
}

/* THE Recipe List */
.recipe-list {
  margin-top: 1em;
  text-transform: capitalize;
}

.recipe-list__item a {
  display: inline-block;
  width: 100%;
}

.recipe-list__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-list__name {
  display: inline-block;
}

/* Shared */
.view--content .recipe-list__item,
.view--compact-list .recipe-list__item {
  /* margin-left: 1em; TODO: I bet this was here for a good reason */
  margin-bottom: 1em;

  /* avoid splitting a single item into cols */
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}


/* view: Compact List */
.view--compact-list .recipe-list__photo {
  display: none;
}

/* view: Content */
.view--content .recipe-list__photo {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: middle;
}

.view--content .recipe-list__name {
  width: calc(100% - 80px);
  vertical-align: middle;
}

/* view: Grid */
.view--grid .recipe-list__item {
  display: inline-block;
  width: 260px;
  margin: 0;
  margin: 0 15px 15px 0;
}

.view--grid .recipe-list__item a {
  height: 260px;
  border: solid 1px transparent;
  border-radius: 6px;
  overflow: hidden;
}

.view--grid .recipe-list__item a:hover {
  border-color: black;
}

.view--grid .recipe-list__photo {
  height: 180px;
  display: block;
  margin-bottom: 10px;
}

.view--grid .recipe-list__name {
  padding: 0 1em;
  font-size: 110%;
  font-weight: 700;
  line-height: 1.4;
  text-overflow: ellipsis;
}

/* Footer bits */
.footer {
  color: var(--color-index-pg-footer);
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.footer li {
  margin-bottom: 0.6em;
}

.footer a {
  color: var(--color-index-pg-footer-link);
}

.footer a:visited,
.footer a:hover {
  color: inherit;
}

.footer svg {
  width: 14px;
  margin-left: 0.3em;
}

@media screen and (min-width: 820px) {

  .view--content .recipe-list,
  .view--compact-list .recipe-list {
    column-count: 2;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  }
}
