:root {
  --color-view-btn-inactive: var(--color-neutral-20);
  --color-view-btn-hover:    var(--color-neutral-45);
  --color-view-btn-selected: var(--color-primary);
  --color-view-svg-selected: var(--color-neutral-00);

  --color-filter-inactive:   var(--color-neutral-25);
  --color-filter-hover:      var(--color-neutral-80);
  --color-filter-focus:      var(--color-neutral-50);

  --default-border-radius: 4px;

  --small-btn-length:    24px;

  --search-input-height: 40px;
  --search-icon-length:  18px;
  --search-input-max-width: calc(14em + var(--small-btn-length) + var(--search-icon-length));
}

.mainTitle {
  text-align: center;
}

/* nav alphabet */
.navigation {
  line-height: 1.7em;
  margin: 0.7em auto 2.6em;
  text-align: center;
}

.navigation a {
  background-color: var(--color-view-svg-selected);
  border-radius: 50%;
  color: var(--color-index-pg-nav-letter);
  display: inline-block;
  height: var(--small-btn-length);
  line-height: var(--small-btn-length);
  margin-right: calc(var(--small-btn-length) / 6);
  text-decoration: none;
  vertical-align: middle;
  width: var(--small-btn-length);
  transition: color var(--transition-color-duration) ease, background-color var(--transition-color-duration) ease;
}

.navigation a:hover {
  background-color: var(--color-view-btn-selected);
  color: var(--color-view-svg-selected);
}

.nav-view__list {
  display: inline-block;
  text-wrap: nowrap;
}

/* View radio buttons */
html body .nav-view__item {
  display: inline-block;
  margin: 0 6px 0 0;
}

.nav-view__btn {
  background-color: transparent;
  border: solid 1px var(--color-view-btn-inactive);
  border-radius: var(--default-border-radius);
  padding: 0;
  display: inline-block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: background-color var(--transition-color-duration) ease;
}

.nav-view__btn svg {
  fill: var(--color-view-btn-inactive);
}

.nav-view__btn:hover {
  border-color: var(--color-view-btn-hover);
}

.nav-view__btn:hover svg {
  fill: var(--color-view-btn-hover);
}

.view--content .nav-view__btn[data-view="content"],
.view--compact-list .nav-view__btn[data-view="compact-list"],
.view--grid .nav-view__btn[data-view="grid"] {
  background-color: var(--color-view-btn-selected);
  border-color: var(--color-view-btn-selected);
}

.view--content .nav-view__btn[data-view="content"] svg,
.view--compact-list .nav-view__btn[data-view="compact-list"] svg,
.view--grid .nav-view__btn[data-view="grid"] svg {
  fill: var(--color-view-svg-selected);
}

.nav-view__img {
  height: 24px;
  width: 24px;
}

/*  */
.btn__show-recent {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
/*
  background-color: transparent;
  border: none;
  cursor: pointer;
   */
}

.icon--recents {
  width: 80%;
}

/* .icon--recents path {
  fill: pink;
} */

/* Filter/Search */
.filter__wrap {
  float: right;
  position: relative;
}

.filter__text-field {
  border-radius: calc(var(--search-input-height) / 2);
  padding: .4em calc(var(--search-input-height) + 2px) .4em calc(var(--search-input-height) / 2);
  border: solid var(--color-filter-inactive) 1px;
  font-size: inherit;
  width: 80px;
  transition: width 225ms ease-in, border-color var(--transition-color-duration) ease-in;
  height: var(--search-input-height);
}

.filter__text-field:hover {
  border-color: var(--color-filter-hover);
}

.filter__text-field:not(:placeholder-shown),
.filter__text-field:focus {
  border-color: var(--color-filter-focus);
  width: var(--search-input-max-width);
}

.filter__icon {
  fill: var(--color-filter-inactive);
  position: absolute;
  transition: fill var(--transition-color-duration) ease-in;
  width: var(--search-icon-length);
  height: var(--search-icon-length);
}

.filter__cancel-icon {
  left: calc(50% - var(--search-icon-length) / 2);
  top: calc(50% - var(--search-icon-length) / 2);
}

.filter__search-icon {
  right: var(--search-icon-length);
  top: calc((var(--search-input-height) - var(--search-icon-length)) / 2);
}

.filter__cancel-btn {
  border: solid 1px var(--color-filter-focus);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  display: none;
  height: var(--small-btn-length);
  width: var(--small-btn-length);
  position: absolute;
  right: calc(5px + var(--small-btn-length) + var(--search-icon-length));
  top: calc((var(--search-input-height) - var(--small-btn-length)) / 2);
}

.filter__text-field:hover+.filter__icons .filter__search-icon {
  fill: var(--color-filter-hover);
}

.filter__text-field:focus+.filter__icons .filter__search-icon {
  fill: var(--color-filter-focus);
}

.filter__text-field:not(:placeholder-shown)+.filter__icons .filter__cancel-btn,
.filter__text-field:focus+.filter__icons .filter__cancel-btn {
  display: inline-block;
}

.filter__text-field:not(:placeholder-shown)+.filter__icons .filter__cancel-icon,
.filter__text-field:focus+.filter__icons .filter__cancel-icon {
  fill: var(--color-filter-focus);
}

.filter__suggestions {
  background-color: var(--color-neutral-00);
  border-radius: var(--default-border-radius);
  border: solid 1px var(--color-filter-hover);
  box-shadow: 5px 8px 8px rgba(0,0,0,.2);
  display: none;
  left: var(--small-btn-length);
  overflow: hidden;
  padding: 5px 0;
  position: absolute;
  --suggestions-max-width: calc(var(--search-input-max-width) - 2 * var(--small-btn-length));
  min-width: calc(var(--suggestions-max-width) / 2);
  max-width: var(--suggestions-max-width);
}

.filter__suggestions li {
  padding: 6px 16px;
  border-bottom: solid 1px var(--color-neutral-20);
  text-overflow: ellipsis;
  max-width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.filter__suggestions li:last-child {
  border-bottom: none;
}

.filter__suggestions li:hover {
  color: var(--color-primary);
}

.filter__suggestions:not([data-count]:empty):hover,
.filter__text-field:focus~.filter__suggestions:not([data-count]:empty) {
  display: block;
}

/* oops */
.recipe-list__photo {
  display: none;
}

body .recipe-list .recipe-list__item--hidden {
  display: none;
}

/* THE Recipe List */
.recipe-list {
  margin-top: 1em;
  text-transform: capitalize;
}

.recipe-list__item-link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.recipe-list__item-link:link,
.recipe-list__item-link:visited {
  text-decoration: inherit;
}

.recipe-list__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-list__name {
  display: inline-block;
}

.recipe-list__author {
  color: var(--color-neutral-50);
  display: block;
  font-size: 90%;
  font-style: normal;
  font-weight: 300;
}

/* Shared */
.view--content .recipe-list__item,
.view--compact-list .recipe-list__item {
  /* margin-left: 1em; TODO: I bet this was here for a good reason */
  margin-bottom: 1em;

  /* avoid splitting a single item into cols */
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

/* view: Compact List */
.view--compact-list .recipe-list__author,
.view--compact-list .recipe-list__photo {
  display: none;
}

/* view: Content */
.view--content .recipe-list__photo {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: middle;
}

.view--content .recipe-list__name {
  width: calc(100% - 80px);
  vertical-align: middle;
}

/* view: Grid */
.view--grid .recipe-list {
  display: grid;
  gap: 20px;
}

.view--grid .recipe-list__item {
  display: block;
  line-height: 1.12;
  margin: 0;
}

.view--grid .recipe-list__item a {
  height: 260px;
  border: solid 1px var(--color-neutral-15);
  border-radius: 6px;
  overflow: hidden;
}

.view--grid .recipe-list__item a:hover {
  border-color: var(--color-neutral-100);
}

.view--grid .recipe-list__photo {
  height: 180px;
  display: block;
  margin-bottom: 10px;
}

.view--grid .recipe-list__name {
  -webkit-line-clamp: 2;
  font-size: 110%;
  font-weight: 700;
  overflow: hidden;
  padding: 0 1em;
  text-overflow: ellipsis;
}

/* Footer bits */
.footer {
  color: var(--color-index-pg-footer);
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.footer li {
  margin-bottom: 0.6em;
}

.footer a {
  color: var(--color-index-pg-footer-link);
}

.footer a:visited,
.footer a:hover {
  color: inherit;
}

.footer svg {
  width: 14px;
  margin-left: 0.3em;
}

@media screen and (min-width: 580px) {
  .view--grid .recipe-list {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 720px) {
  .view--grid .recipe-list {
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (min-width: 820px) {
  .view--content .recipe-list,
  .view--compact-list .recipe-list {
    column-count: 2;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  }
}
