/* click and double click list item stats */
.clickable-list li {
  border-radius: 3px;
  position: relative;
  transition: background-color 0.35s ease;
}

.activated {
  background-color: var(--color-highlight-bg);
}

.complete {
  font-style: italic;
  opacity: 80%;
  text-decoration: line-through;
  text-decoration-color: var(--color-complete-line-through);
}

.highlight {
  background-color: var(--color-highlight-bg);
}

/* common page elements */
hr {
  clear: both;
  border: none;
  border-top: 1px solid var(--color-ingredient-parens);
}

.back-link {
  margin-top: -0.6em;
  margin-bottom: 0.6em;
  font-style: normal;
}

.back-link a:hover {
  background: none;
}

.back-link svg {
  display: none;
  width: 24px;
  color: var(--color-back-arrow);
  transition: color 0.35s ease;
}

.back-link svg:hover {
  color: var(--color-back-arrow-hover);
}

svg.linkIcon {
  width: 14px;
  margin-left: 0.3em;
}

/* == Sections ----- */
/* images full width */
/* h/t @mpember for the pr suggestion */
.section--heroimage img {
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
}

/* section dividers */
.section {
  margin-bottom: 2em;
}

.section--info h2 {
  display: none;
}

.heroimage--hidden .section--heroimage,
.basedon--hidden .section--basedon,
.header--hidden .section--header,
.info--hidden .section--info,
.ingredients--hidden .section--ingredients,
.notes--hidden .section--notes,
.steps--hidden .section--steps {
  display: none;
}

.section--steps li::first-letter,
.section--notes li::first-letter {
  text-transform: uppercase;
}

/* let's line these up with the list indentation */
.section--ingredients p,
.section--steps p,
.section--notes p,
.section--basedon p {
  margin: 1.1em 0 0.6em 0;
}

.section--info ul,
.section--notes ul,
.section--help ul,
.section--basedon ul {
  list-style: square outside;
}

.section--info ul li,
.section--notes ul li,
.section--help ul li,
.section--basedon ul li {
  margin-left: 1em;
  margin-bottom: .5em;
}

.section--info ul li::marker,
.section--notes ul li::marker,
.section--help ul li::marker,
.section--basedon ul li::marker {
  color: var(--color-ul-item-bullet);
}

.section--ingredients,
.section--steps {
  font-family: var(--font-family-steps);
}

/* == Section: Steps ----- */
.section--steps ol {
  list-style-type: none;
  counter-reset: step-counter;
}

.section--steps li {
  margin-bottom: .97em;
  position: relative;
}

.section--steps ol li:before {
  content: counter(step-counter);
  counter-increment: step-counter;
  color: var(--color-primary);
  font-weight: 800;
  margin-right: -3px;
  font-size: 119%;
  position: relative;
  left: -13px;
  top: -2px;
}

/* == Section: notes ----- */
.section--notes ul li {
  margin-bottom: 0.4em;
}

/* notes links should have an underline */
.section--notes a {
  text-decoration: underline;
}

/* == Section: Ingredients ----- */
.section--ingredients ul+h3 {
  margin-top: 1.8em;
}

.section--ingredients li {
  margin-bottom: 0.4em;
}

.paren {
  color: var(--color-ingredient-parens);
  font-style: italic;
}

.ingredient--has-amt {
  padding-left: 2.7em;
}

.ingredient__amt {
  display: inline-block;
  min-width: 2.5em;
  padding-right: .2em;
  white-space: nowrap;
  margin-left: -2.7em;
}

.ingredient__symbol {
  font-size: 130%;
  vertical-align: middle;
}

/* == Section: Based On ----- */

/* make sure long urls split at slashes */
.section--basedon a {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* mozilla, since 1999 */
  white-space: -pre-wrap;
  /* opera 4-6 */
  white-space: -o-pre-wrap;
  /* opera 7 */
  word-wrap: break-word;
  /* ie 5.5+ */
}

/* == Section: Title/Header ----- */
.section--title {
  text-align: center;
  padding-bottom: 1.3em;
  border-bottom: 1px solid gray;
}

@media screen and (min-width: 820px) {
  .section--help ul {
    column-count: 2;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  }

  .back-link {
    margin-bottom: 1.3em;
  }

  .back-link svg {
    display: block;
  }

  .section--title {
    text-align: left;
    padding-bottom: 0;
    border-bottom: none;
  }

  .section--ingredients,
  .section--steps {
    float: left;
  }

  .section--ingredients {
    width: 33%;
    padding-right: 2em;
  }

  .section--steps {
    width: 66%;
  }
}

/* print is not dead */
@media print {
  .section--title {
    text-align: left !important;
  }

  .back-link,
  .section--help {
    display: none;
  }
}
