@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=PT+Sans+Narrow:wght@700&display=swap');

:root {
  /* -- Globals --- */
  --font-family-body: 'Open Sans', Franklin, Arial, Helvetica, sans-serif;
  --font-family-header: 'PT Sans Narrow', sans-serif;
  --font-family-steps: 'Open Sans', Franklin, Arial, Helvetica, sans-serif;

  --color-pg-bg: white;
  /* headings, recipe step numerals, etc: primary "pop" color */
  --color-primary: #c15900;
  /* anchor */
  --color-link: black;
  --color-link-hover: black;
  --color-link-bg-hover: rgba(255, 255, 0, 0.5);
  /* ??? */
  --color-target-bg: rgba(255, 255, 0, 0.25);

  /* -- Recipe Page ------- */

  /* parens (recipe ingredient) & hr */
  --color-ingredient-parens: rgb(129 129 129);
  /* back arrow (SVG/image) */
  --color-back-arrow: rgb(200, 200, 200);
  --color-back-arrow-hover: black;
  /* Unordered List Item Bullet Color */
  --color-ul-item-bullet: #eca96f;
  /* clickable lists */
  --color-highlight-bg: rgb(211, 211, 211);
  --color-complete-line-through: #666;

  /* -- Index Page ------- */

  --color-index-pg-nav-letter: rgb(180, 180, 180);
  --color-index-pg-footer: rgb(170, 170, 170);
  --color-index-pg-footer-link: rgb(180, 180, 180);
}
