@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=PT+Sans+Narrow:wght@700&display=swap');

:root {
  --font-stack-default-body:      Franklin, Arial, Helvetica, sans-serif;
  --font-stack-default-headline: 'PT Sans Narrow', sans-serif;

  --font-family-body:   var(--font-stack-default-body);
  --font-family-header: var(--font-stack-default-headline);
  --font-family-steps:  var(--font-stack-default-body);

  --color-primary: #c15900;
}

.section--heroimage img {
  border-bottom: 2px solid var(--color-primary);
}
