@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=PT+Sans+Narrow:wght@700&display=swap');

:root {
  --font-stack-magazine-body:     'Open Sans', Franklin, Arial, Helvetica, sans-serif;
  --font-stack-magazine-headline: 'PT Sans Narrow', sans-serif;

  --font-family-body:   var(--font-stack-magazine-body);
  --font-family-header: var(--font-stack-magazine-headline);
  --font-family-steps:  var(--font-stack-magazine-body);

  --color-primary: #c15900;
}

.magazine .section--heroimage {
  display: none;
}

.magazine article {
  background-color: #585486;
  background-image: var(--hero-image-url);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  padding: 100px 40px 40px;
}

.magazine .recipe__name {
  color: var(--color-neutral-00);
}

.magazine .section {
  padding: 15px;
  width: 45%;
  float: none;
}
