@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

:root {
  --wapo-font-stack-body:     Franklin, georgia, Times New Roman, serif;
  --font-stack-wap-headline: 'Gilda Display', garamond, georgia, Times New Roman, serif;

  --font-family-body:   var(--wapo-font-stack-body);
  --font-family-header: var(--font-stack-wap-headline);
  --font-family-steps:  var(--wapo-font-stack-body);

  --color-primary:      rgb(42, 42, 42);
  --color-highlight-bg: rgb(252 255 220);

  --color-neutral-00-80prct: rgb(255, 255, 255, 0.8);

  --color-link-hover: rgb(203 31 152);
}

.washington-post h2 {
  text-transform: capitalize;
  font-weight: 700;
}

.washington-post .section--title {
  background-color: var(--color-neutral-00-80prct);
  border-radius: 8px;
  font-family: var(--wapo-font-stack-body);
  position: relative;
}

.washington-post .recipe__name {
  text-align: center;
  text-transform: none;
  font-weight: 400;
}

.washington-post .section--steps li {
  margin-left: 0;
  margin-top: 40px;
}

.washington-post .section--steps ol li:before {
  content: 'Step 'counter(step-counter);
  counter-increment: step-counter;
  font-size: 95%;
  position: absolute;
  left: 0;
  top: -25px;
}

.washington-post .html {
  text-align: left;
}

.washington-post .html p {
  line-height: 1.6;
}

.washington-post .subsection--nutritionalfacts li {
  font-size: 80%;
  line-height: 1.2;
}

@media screen and (min-width: 820px) {
  .washington-post .section--title {
    left: 10%;
    margin-bottom: -150px;
    min-width: 300px;
    padding: 30px;
    top: -150px;
    width: 60%;
  }
}
