@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

:root {
  --nytimes-font-stack: Tinos, Georgia, Times New Roman, serif;

  --nytimes-red:            #df321b;
  --nytimes-blue-dust:      #e1f1ff;
  --nytimes-gray-lady-gray: #717171;

  --font-family-body:   var(--nytimes-font-stack);
  --font-family-header: var(--nytimes-font-stack);
  --font-family-steps:  var(--nytimes-font-stack);

  --color-primary:          var(--color-neutral-80);
  --color-highlight-bg:     var(--nytimes-blue-dust);
  --color-link:             var(--nytimes-gray-lady-gray);
  --color-link-hover:       var(--nytimes-red);
  --color-link-bg-hover:    transparent;
  --color-back-arrow-hover: var(--nytimes-red);
}

.nytimes .section--title {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}

.nytimes .recipe__name {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: .01em;
  line-height: 1.1;
  text-transform: none;
}

.nytimes .section--heroimage {
  float: right;
  margin-left: 25px;
  max-width: 60%;
}

.nytimes .section--ingredients {
  clear: right;
}

.nytimes .section--steps li {
  margin-left: 0;
  margin-top: 40px;
}

.nytimes .section--steps ol li:before {
  content: 'Step 'counter(step-counter);
  counter-increment: step-counter;
  font-size: 95%;
  position: absolute;
  left: 0;
  top: -25px;
}

.nytimes .html {
  font-family: var(--nytimes-font-stack);
  font-size: 18px;
}

.nytimes .html p {
  line-height: 1.6;
}
