@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

:root {
  --fonts-headers: Tinos, Georgia, Times New Roman, serif;

  /* -- Globals --- */

  --page-background: white;
  /* headings, recipe step numerals, etc: primary "pop" color */
  --accent-color: #c15900;
  /* anchor */
  --link-color: black;
  --link-hover-color: black;
  --hover-bg-color: rgba(255, 255, 0, 0.5);
  /* ??? */
  --target-bg-color: rgba(255, 255, 0, 0.25);


  /* -- Recipe Page ------- */

  /* parens (recipe ingredient) & hr */
  --light-gray-color: rgb(129 129 129);
  /* back arrow (SVG/image) */
  --back-arrow-color: rgb(200, 200, 200);
  --back-arrow-hover-color: black;
  /* Unordered List Item Bullet Color */
  --list-bullet-color: #eca96f;
  /* clickable lists */
  --line-activated-bg-color: rgb(211, 211, 211);
  --line-through-color: #666;

  /* -- Index Page ------- */

  --index-letter-color: rgb(180, 180, 180);
  --index-footer-text: rgb(170, 170, 170);
  --index-footer-link: rgb(180, 180, 180);
}

.nytimes .section--title {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}

.nytimes .recipe__name {
  color: rgb(34, 34, 34);
  font-family: var(--fonts-headers);
  font-size: 40px;
  font-weight: normal;
  letter-spacing: .01em;
  line-height: 1.1;
  text-transform: none;
}

.nytimes .section--heroimage {
  float: right;
  margin-left: 25px;
  max-width: 60%;
}

.nytimes .section--ingredients {
  clear: right;
}

.nytimes .section--steps li {
  margin-left: 0;
  margin-top: 40px;
}

.nytimes .section--steps ol li:before {
  content: 'Step 'counter(step-counter);
  counter-increment: step-counter;
  font-size: 95%;
  position: absolute;
  left: 0;
  top: -25px;
}

.nytimes .html {
  font-family: var(--fonts-headers);
  font-size: 18px;
}

.nytimes .html p {
  line-height: 1.6;
}
