<!DOCTYPE html>
<html lang="en">

<head>
  <title>Recipe Book</title>
  <!-- Basics -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  {{__metaOGImage__}}
  {{__metaDateGenerated__}}
  {{__favIcon__}}
  <!-- font and styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="styles/vars.css">
  <link rel="stylesheet" href="styles/{{__theme__}}.css">
  <link rel="stylesheet" href="styles/stylesheet.css">
  <link rel="stylesheet" href="styles/recipesIndex.css">
</head>

<body class="view--content">
  <main class="wrapper index">
    <section class="toc">
      <header>
        <h1 class="mainTitle">Recipe Book</h1>
        <!-- "Jump To" Alphabet Links -->
        <nav class="navigation">
          {{__letters-index__}}
        </nav>
        <!-- Filter/Search Input Field-->
        <div class="filter__wrap">
          <label>
            <span class="sr-only">Filter</span>
            <input id="filter-field" class="filter__text-field" placeholder="" autocomplete="off">
            <span class="filter__icons">
              <span class="filter__mask-icon filter__search-icon"></span>
              <button type="button" id="clear-filter-btn" class="filter__cancel-btn">
                <span class="filter__mask-icon filter__cancel-icon"></span>
                <span class="sr-only">Clear filter input</span>
              </button>
            </span>
          </label>
        </div>
        <!-- View/Arrangement/Layout Buttons -->
        <div class="nav-view">
          <ul role="radiogroup" class="nav-view__list">
            <li class="nav-view__item">
              <button class="js-view-radio-btn nav-view__btn" role="radio" data-view="compact-list">
                <svg class="nav-view__img">
                  <title>Compact List View</title>
                  <path d="M5.5 6h13v1.5h-13V6Zm13 3.5h-13V11h13V9.5ZM5.5 13h13v1.5h-13V13Zm0 3.5h13V18h-13v-1.5Z" />
                </svg>
                <span class="sr-only">View as list</span>
              </button>
            </li>
            <li class="nav-view__item">
              <button class="js-view-radio-btn nav-view__btn" role="radio" data-view="content">
                <svg class="nav-view__img" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24">
                  <title>Content View</title>
                  <path d="M5,5h3v3H5V5z M19,7V5h-8.5v2H19z M5,10.5h3v3H5V10.5z M10.5,12.5v-2H19v2H10.5z M8,16 H5v3h3V16z M19,18v-2h-8.5v2H19z" />
                </svg>
                <span class="sr-only">View as list with images</span>
              </button>
            </li>
            <li class="nav-view__item">
              <button class="js-view-radio-btn nav-view__btn" role="radio" data-view="grid">
                <svg class="nav-view__img" viewBox="0 0 24 24" width="24" height="24">
                  <title>Large Grid View</title>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11 11H5V5h6v6ZM9.5 6.5h-3v3h3v-3ZM13 11V5h6v6h-6Zm1.5-1.5h3v-3h-3v3ZM5 19h6v-6H5v6Zm1.5-4.5h3v3h-3v-3ZM19 19h-6v-6h6v6Zm-1.5-4.5h-3v3h3v-3Z" />
                </svg>
                <span class="sr-only">View as recipe cards</span>
              </button>
            </li>
          </ul>
        </div>
      </header>
      <!-- your recipes will go here -->
      <ul class="recipe-list">
        {{__recipe-list__}}
      </ul>
    </section>
    <!-- footer -->
    <footer class="footer">
    </footer>
  </main>
  <script src="scripts/index.js"></script>
  <script>
    {{__startup__}}
  </script>
</body>

</html>
